<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/ieee.css'%}">
  </head>
  <body>
    <div id='logo'>
    </div>
    <div id='back'>

    </div>
    <div id="imp">
      <h1>Maulana Azad National Institute Of Technology<span id='small'><br>IEEE</span></h1>
    </div>
    <div id='bground'>

    </div>
    <div id='link'>
    <a href="/ieee/home-page/">Home</a>
    <a href="/ieee/register-page/">Registration</a>
    <a href="/ieee/instruction-page/">Instruction</a>
    <a href="/ieee/candidate-page/">Candidates</a>
    </div>
    <h1 style="text-align:center;color:Red;font-style:italic;font-size:40px;padding-top:50px;">Path For Achieving Your Goals !</h1>
  </body>
</html>
