<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Instruction</title>
    <link rel="stylesheet" href="{% static 'css/ieee.css'%}">
    <style media="screen">
      #main{
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
        border: 10px solid darkblue;
        height: auto;
        background-color: white;
        padding-bottom: 50px;
        padding-top: 20px;
        border-radius: 70px;
        opacity: 70%;
        margin-top: 50px;
      }
      #main h1{
        text-align: center;
        color: darkblue;
        font-size: 40px;
      }
      #main .head{margin-left: 20px;}
    </style>
  </head>
  <body>
    <div id='logo'>
    </div>
    <div id='back'>

    </div>
    <div id="imp">
      <h1>Maulana Azad National Institute Of Technology<span id='small'><br>IEEE</span></h1>
    </div>
    <div id='bground'>

    </div>
    <div id='link'>
    <a href="/ieee/home-page/">Home</a>
    <a href="/ieee/register-page/">Registration</a>
    <a href="/ieee/instruction-page/">Instruction</a>
    <a href="/ieee/candidate-page/">Candidates</a>
    </div>
    <div id='main'>
      <h1>Instruction</h1>
      <ul>
        <li>This INSTRUCTION MANUAL is being provided to facilitate you with all the necessary details of IEEE MSB's recruitment procedure.
             This manual is designed , elucidating the pre-requisites required as well as illustrating the rules, details and instructions
             for the process.</li>
      </ul>
      <h3 class="head">PRE-REQUISITES</h3>
      <ul>
        <li>A computer or a laptop or a mobile phone with a good internet connection. </li>
        <li>Curriculum Vitae </li>
        <li>Portfolio (wherever required) </li>
        <li>Most importantly, be present at the appointed time, as the test timings are strictly on a schedule. </li>
      </ul>
      <h3 class="head">CORE TEAM </h3>
      <ul>
        <li>The written test will be conducted on the 5th of September. </li>
        <li>Registered candidates will be added to a WhatsApp Group, where further instructions will await you</li>
        <li>The test will consist of Aptitude based questions. </li>
        <li>The interviews for shortlisted candidates will commence from the 8th of September (tentatively). </li>
        <li>Students of Computer Science Engineering, Electronics and Communication Engineering and Electrical Engineering are eligible to appear for the above mentioned post.
        </li>
      </ul>
      <h3 class="head">SOCIAL MEDIA MANAGER (SMM) </h3>
      <ul>
        <li>All the registered candidates will be added in a WhatsApp group.</li>
        <li>The paper will be conducted on 5th of September.  </li>
        <li>The duration of the test will be of 2 hours, from 2.30 PM to 4. 30 PM. </li>
        <li>The question paper will either be mailed to the respective e-mail IDs provided, or can either be shared on the WhatsApp group, so stay active on both the platforms.</li>
        <li>The question paper will be given 5 minutes prior to the commencing time. In case not received, contact the concerned authority immediately. </li>
        <li>The submission must be via the mail ID through which you received the paper. If the paper is shared through WhatsApp, an email would be provided wherein you will have to submit your answer sheets. </li>
        <li>Submit the answers in the form of a WORD DOCUMENT. Handwritten answers in a PDF format will NOT be accepted. </li>
        <li> While composing the answer mail, the SUBJECT should be in a predefined format as given -  YOUR NAME_BRANCH_SCHOLAR NUMBER </li>
        <li>There will be certain time limit before which the answer document has to submitted, as after which, the submission will automatically WON’T be accepted. </li>
        <li>The answers will be checked thoroughly, any hint of PLAGIARISM would mean instant DISQUALIFICATION from further rounds. </li>
        <li>Students of all branches are eligible to appear for this post. </li>
      </ul>
      <h3 class="head">VIDEOGRAPHERS/DESIGNERS/WEB DEVELOPERS/PHOTOGRAPHERS </h3>
      <ul>
        <li>After registering for the above mentioned posts, you will be added to the respective WhatsApp groups where further instructions will be informed. </li>
        <li>Tasks will be allotted, and will be judged individually to qualify for further rounds. </li>
        <li>Instructions regarding further rounds and results will be provided on the WhatsApp group itself. </li>
        <li>Students of all the branches can apply for the above mentioned posts. </li>
      </ul>
      <h3 class="head">Additional points to be noted: </h3>
      <ul>
        <li>The time schedule is set in a way that no two tests would clash, so no need to worry, fill in as many choices as you want in the Google doc form. </li>
        <li>It is advised to fill in all the details of the google doc form sincerely and with utmost accuracy. </li>
        <li>All the recruitment related information and the results of all the rounds will be announced on IEEE’s Facebook and Instagram pages. </li>
        <li>Follow IEEE MANIT STUDENT BRANCH on Facebook and @ieee_manit on Instagram to keep yourself updated. </li>
        <li>Curriculum Vitae - Prepare a typed softcopy of your CV beforehand. </li>
      </ul>
      <h3 class="head"><b>For any queries contact: <br>
Ritwik Mishra: +91 8789699869 <br>
Anmol Gupta: +91 8966822991 </b></h3>
    </div>

  </body>
</html>
